#bag{
    width: 350px;
    height:350px;
    margin:0 auto;
    background:url("proper.png") center no-repeat;
    background-size: 80%;
   
}
#bag.burst{
    width: 350px;
    height:350px;
    margin:0 auto;
    background:url("20200829-103041.png") center no-repeat;
    background-size: 80%;
   
}
#bag-health{
    width:200px;
    border:2px solid blue;
    
    margin:0 auto 20px auto;
    }
#bag-health div{
    height: 20px;
    background-color:crimson;
}
#control{
    width:120px;
    margin:0 auto;
    }
#a{
   
    background-color: blueviolet;
    color: greenyellow;
    margin-top: 20px;
    
    
}

body{
    border:2px solid violet;
    border-width:4px ;
    height:500px;
    margin-right:300px;
    margin-left:300px;
    padding-bottom:2px;
    

    
   
   
    
}

